# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import gmaps
import os

# Import API key
from config import GoogleMaps_API_key
print(GoogleMaps_API_key)

AIzaSyAv9lkbjaFQLP6O-VT4ZOiLnJYUB92RBTg

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [74]:
vacationpy = 'city_stats.csv'
vacationpy = pd.read_csv(vacationpy)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [83]:
figure_layout = {
    'width': '800px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [84]:
locations = vacationpy[["Lat", "Lng"]].astype(float)
Humidity = vacationpy["Humidity"].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', margin='0 auto 0 auto', padding='1px', wi…

###

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [86]:
vacationpyd = pd.DataFrame(vacationpy)
vacationpyd = vacationpyd.dropna(how='any')
vacationpyd

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,tsihombe,20,NO,1579273061,67,71.00,24.66,-6.00,0.50
1,havoysund,100,BW,1579273249,26,-25.27,23.28,28.54,8.69
2,werda,100,NZ,1579273250,92,-46.60,168.33,13.33,0.89
3,bluff,100,IN,1579273252,79,34.17,77.58,-20.37,1.40
4,leh,75,US,1579273244,55,42.60,-73.97,-9.44,4.60
...,...,...,...,...,...,...,...,...,...
562,pirogovo,40,LK,1579275885,100,6.80,81.48,25.00,1.50
563,antalaha,75,RU,1579275886,79,55.96,92.55,-6.00,5.00
564,ulaangom,0,UY,1579275866,46,-34.67,-54.92,22.00,5.10
565,tonj,0,GN,1579275889,5,12.48,-13.30,38.00,2.67
566,vrises,75,BR,1579275890,58,-7.47,-34.81,31.00,6.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [39]:
# Add columns for hotel.
# Hint: Be sure to specify "" as the initial value for each column.
vacationpyd['Hotel Name'] = ""

vacationpyd.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,tsihombe,20,NO,1579273061,67,71.00,24.66,-6.00,0.50,
1,havoysund,100,BW,1579273249,26,-25.27,23.28,28.54,8.69,
2,werda,100,NZ,1579273250,92,-46.60,168.33,13.33,0.89,
3,bluff,100,IN,1579273252,79,34.17,77.58,-20.37,1.40,
4,leh,75,US,1579273244,55,42.60,-73.97,-9.44,4.60,

In [65]:

target_type = "hotels"
radius = 5000
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
# rewrite params dict

for index, row in vacationpyd.iterrows():
    lat1 = str(row['Lat'])
    long1 = str(row['Lng'])
    latlong = f'{lat1},{long1}'
    # get restaurant type from df
    #print (latlong)
    
    params = {
   "location": latlong,
    "types": target_type,
    "radius": radius,
    "key": GoogleMaps_API_key
    }
    
    # add keyword to params dict

    # assemble url and make API request

    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        
        vacationpyd.loc[index, 'Hotel Name'] = results[0]['name']
    
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [66]:
vacationpyd

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,tsihombe,20,NO,1579273061,67,71.00,24.66,-6.00,0.50,Havøysund
1,havoysund,100,BW,1579273249,26,-25.27,23.28,28.54,8.69,Werda
2,werda,100,NZ,1579273250,92,-46.60,168.33,13.33,0.89,Bluff
3,bluff,100,IN,1579273252,79,34.17,77.58,-20.37,1.40,Leh
4,leh,75,US,1579273244,55,42.60,-73.97,-9.44,4.60,Voorheesville
...,...,...,...,...,...,...,...,...,...,...
562,pirogovo,40,LK,1579275885,100,6.80,81.48,25.00,1.50,Wattegama
563,antalaha,75,RU,1579275886,79,55.96,92.55,-6.00,5.00,Krasnoyarsk
564,ulaangom,0,UY,1579275866,46,-34.67,-54.92,22.00,5.10,Chacra Gaia
565,tonj,0,GN,1579275889,5,12.48,-13.30,38.00,2.67,Koundara
566,vrises,75,BR,1579275890,58,-7.47,-34.81,31.00,6.70,Pitimbu

In [69]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in vacationpyd.iterrows()]
locations = vacationpyd[["Lat", "Lng"]]

In [85]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(border='1px solid black', height='700px', margin='0 auto 0 auto', padding='1px', wi…